---
import { getEatery } from '@api/eatery/getEatery';
import CafeMenu from '@components/eatery/CafeMenu.astro';
import Dietary from '@components/eatery/Dietary.astro';
import EateryAddInfo from '@components/eatery/EateryAddInfo.astro';
import EaterySns from '@components/eatery/EaterySns.astro';
import RestaurantMenu from '@components/eatery/RestaurantMenu.astro';
import PageTitle from '@components/ui/PageTitle.astro';
import MediaQueryLogo from '@functionnal-components/ui/MediaQueryLogo';
import Layout from '@layouts/Layout.astro';
import { cafeMenuData, restaurantMenuData } from '@libs/data';

const response = await getEatery({});
const contents = response.contents;
---

<Layout headTitle={'飲食店ご紹介'}>
	<PageTitle titleJa="飲食店のご紹介" titleEn="introduce eateries" />
	{
		contents.map(item => (
			<article class="eatery small-text">
				<div class="eatery__logo">
					<MediaQueryLogo client:load imgUrl={item.image.url} title={item.title} />
				</div>
				<h2 class="eatery__title">{item.title}</h2>
				<div class="eatery__sns">
					<EaterySns item={item} />
				</div>
				<div class="eatery__addInfo">
					<EateryAddInfo
						floor={item.floor}
						dayOff={item.dayOff}
						businessInfo={item.businessInfo}
					/>
				</div>
				<div class="eatery__dietaries">
					<Dietary dietaries={item.dietaries} />
					<div class="eatery__dietaries_vegewel">
						<a href={item.vegewelUrl} target="_blank">
							Vegewel掲載ページへ
						</a>
					</div>
					<div class="eatery__dietaries_addInfo">
						<p class="break-line">{item.addInfo}</p>
					</div>
				</div>
				{item.tableCheckUrl ? (
					<div class="eatery__tableCheck">
						<p>席のご予約は以下のボタン（Table Check）より承っております。</p>
						<a href={item.tableCheckUrl} target="_blank" class="eatery__tableCheck_link">
							Table Check 予約ページへ
						</a>
					</div>
				) : null}
				<div class="eatery__menus">
					{restaurantMenuData.map(restaurant => {
						if (restaurant.shop === item.title) {
							return <RestaurantMenu menus={restaurant.menus} />;
						}
					})}
					{cafeMenuData.map(cafe => {
						if (cafe.shop === item.title) {
							return <CafeMenu categories={cafe.categories} addInfo={cafe.addInfo} />;
						}
					})}
				</div>
			</article>
		))
	}
</Layout>

<style lang="scss">
	@import '@styles/config';

	.eatery {
		display: flex;
		flex-direction: column;
		margin-top: 100px;
	}

	.eatery__logo {
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
	}

	.eatery__title {
		font-size: $__font16;
	}

	.eatery__sns {
		margin: 60px 0;
	}

	.eatery__dietaries {
		display: flex;
		flex-direction: column;
		gap: 30px;
		margin-bottom: 20px;

		@include small-underline();
	}

	.eatery__dietaries_vegewel {
		position: relative;
		width: fit-content;
		margin-bottom: 60px;

		&::after {
			content: '';
			width: 100%;
			height: 1px;
			background-color: $__primary;
			position: absolute;
			bottom: -0.3rem;
			left: 0;
		}
	}

	.eatery__tableCheck {
		@include small-underline();
	}

	.eatery__tableCheck_link {
		display: block;
		width: fit-content;
		padding: 0.5rem 1rem;
		margin: 20px 0 0;
		border: 1px solid $__primary;
	}

	@include mq(md) {
		.eatery {
			margin: 230px;
			align-items: center;
			text-align: center;
		}

		.eatery__sns {
			width: 100%;
			display: flex;
			justify-content: center;
		}

		.eatery__logo {
			margin-bottom: 70px;
		}

		.eatery__dietaries {
			align-items: center;
			gap: 40px;
		}

		.eatery__tableCheck_link {
			margin: 20px auto 0;
		}

		.eatery__menus {
			min-width: 420px;
			max-width: 520px;
		}
	}
</style>
