---
import { getEatery } from '@api/eatery/getEatery';
import EateryAddInfo from '@components/eatery/EateryAddInfo.astro';
import EaterySns from '@components/eatery/EaterySns.astro';
import Dietary from '@components/ui/Dietary.astro';
import PageTitle from '@components/ui/PageTitle.astro';
import MediaQueryLogo from '@functionnal-components/ui/MediaQueryLogo';
import Layout from '@layouts/Layout.astro';

const response = await getEatery({});
const contents = response.contents;
---

<Layout headTitle={'飲食店ご紹介'}>
	<PageTitle titleJa="飲食店のご紹介" titleEn="introduce eateries" />
	{
		contents.map(item => (
			<article class="eatery">
				<div class="eatery__logo">
					<MediaQueryLogo client:load imgUrl={item.image.url} title={item.title} />
				</div>
				<h2>{item.title}</h2>
				<div class="eatery__sns">
					<EaterySns item={item} />
				</div>
				<div class="eatery__addInfo">
					<EateryAddInfo
						floor={item.floor}
						dayOff={item.dayOff}
						businessInfo={item.businessInfo}
					/>
				</div>
				<div class="eatery__dietaries">
					<Dietary dietaries={item.dietaries} />
				</div>
			</article>
		))
	}
</Layout>

<style lang="scss">
	@import '@styles/config';

	.eatery {
		margin-top: 100px;
		font-size: $__font14;
	}

	.eatery__logo {
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
	}

	.eatery__sns {
		margin: 60px 0;
	}

	@include mq(md) {
		.eatery {
			margin-top: 230px;
			text-align: center;
		}

		.eatery__sns {
			width: 100%;
			display: flex;
			justify-content: center;
		}

		.eatery__logo {
			margin-bottom: 70px;
		}
	}
</style>
